GenerosityとEconomyに関係性はある？ この二つが高いほど幸福度も高くなる？\
小山祐輝　1254810348

一人当たりのGDPが高いほど寄付などがふえるのではないかという仮説が正しいかを見ていきます。

In [17]:
# 必要なライブラリをインポート
import pandas as pd
import matplotlib.pyplot as plt

# CSVファイルを読み込む
df = pd.read_csv('world_happiness_report.csv')

# データの最初の5行を表示
df.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [5]:
# データの形状を確認（行数、列数）
print(f"データの形状: {df.shape}")

# データの基本情報
df.info()

データの形状: (1231, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1231 non-null   int64
 1   Country                        617 non-null    object
 2   Region                         315 non-null    object
 3   Happiness Rank                 315 non-null    float64
 4   Happiness Score                315 non-null    float64
 5   Standard Error                 158 non-null    float64
 6   Economy (GDP per Capita)       315 non-null    float64
 7   Family                         470 non-null    float64
 8   Health (Life Expectancy)       315 non-null    float64
 9   Freedom                        470 non-null    float64
 10  Trust (Government Corruption)  315 non-null    float64
 11  Generosity                     1084 non-null   float64
 12  Dystopia Residual              315 non-null    float64
 13  year                           1231 non-null   int64
dtypes: float64(10), int64(2), object(2)
memory usage: 134.8+ KB

In [6]:
# 基本統計量を表示
df.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
count,1231.000000,315.000000,315.000000,158.000000,315.000000,470.000000,315.000000,470.000000,315.000000,1084.000000,315.000000,1231.000000
mean,615.000000,79.238095,5.378949,0.047885,0.899837,0.990347,0.594054,0.402828,0.140532,0.153545,2.212032,2018.450041
std,355.503399,45.538922,1.141531,0.017146,0.410780,0.318707,0.240790,0.150356,0.115490,0.167592,0.558728,2.284034
min,0.000000,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907,0.328580,2015.000000
25%,307.500000,40.000000,4.510000,0.037268,0.594900,0.793000,0.419645,0.297615,0.061315,0.064828,1.884135,2016.000000
50%,615.000000,79.000000,5.286000,0.043940,0.973060,1.025665,0.640450,0.418347,0.106130,0.162140,2.211260,2018.000000
75%,922.500000,118.500000,6.269000,0.052300,1.229000,1.228745,0.787640,0.516850,0.178610,0.252000,2.563470,2020.000000
max,1230.000000,158.000000,7.587000,0.136930,1.824270,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,2022.000000

データの読み込みが終わったのでこれからデータの分析をします　\
まずはEconomy (GDP per Capita)とGenerosityのトップ１０を表示します

In [18]:
# Economy (GDP per Capita) の高い順に10個の国を表示
print("【Economy (GDP per Capita) の高い順 TOP10】")
economy_top10 = df.nlargest(10, 'Economy (GDP per Capita)')[['Country', 'Economy (GDP per Capita)']]
print(economy_top10.to_string(index=False))

print("\n【Generosity の高い順 TOP10】")
# Generosity の高い順に10個の国を表示
generosity_top10 = df.nlargest(10, 'Generosity')[['Country', 'Generosity']]
print(generosity_top10.to_string(index=False))

【Economy (GDP per Capita) の高い順 TOP10】
             Country  Economy (GDP per Capita)
               Qatar                   1.82427
          Luxembourg                   1.69752
               Qatar                   1.69042
           Singapore                   1.64555
              Kuwait                   1.61714
              Norway                   1.57744
United Arab Emirates                   1.57352
          Luxembourg                   1.56391
              Kuwait                   1.55422
         Switzerland                   1.52733

【Generosity の高い順 TOP10】
  Country  Generosity
  Myanmar    0.838075
  Myanmar    0.819710
  Myanmar    0.795880
Indonesia    0.611705
      NaN    0.598000
 Thailand    0.586960
 Thailand    0.576300
    Malta    0.574731
 Thailand    0.572123
      NaN    0.566000

年代を絞らないとほとんど同じ国が出てしまいました。　\
次は２０１５年の絞ってみてみます。

In [19]:
# 2015年のデータのみをフィルタリング
df_2015 = df[df['year'] == 2015]

print("=" * 60)
print("【2015年データのみ】")
print("=" * 60)

print("\n【Economy (GDP per Capita) の高い順 TOP10】")
economy_top10_2015 = df_2015.nlargest(10, 'Economy (GDP per Capita)')[['Country', 'Economy (GDP per Capita)', 'year']]
print(economy_top10_2015.to_string(index=False))

print("\n【Generosity の高い順 TOP10】")
generosity_top10_2015 = df_2015.nlargest(10, 'Generosity')[['Country', 'Generosity', 'year']]
print(generosity_top10_2015.to_string(index=False))

============================================================
【2015年データのみ】
============================================================

【Economy (GDP per Capita) の高い順 TOP10】
             Country  Economy (GDP per Capita)  year
               Qatar                   1.69042  2015
          Luxembourg                   1.56391  2015
              Kuwait                   1.55422  2015
           Singapore                   1.52186  2015
              Norway                   1.45900  2015
United Arab Emirates                   1.42727  2015
         Switzerland                   1.39651  2015
        Saudi Arabia                   1.39541  2015
       United States                   1.39451  2015
           Hong Kong                   1.38604  2015

【Generosity の高い順 TOP10】
          Country  Generosity  year
          Myanmar     0.79588  2015
         Thailand     0.57630  2015
   United Kingdom     0.51912  2015
            Malta     0.51752  2015
        Indonesia     0.51535  2015
Somaliland region     0.50318  2015
           Bhutan     0.47998  2015
      Netherlands     0.47610  2015
      New Zealand     0.47501  2015
            Syria     0.47179  2015

今度はうまくできました。\
しかし、両方に名前が挙がる国がないんです\
つまり、GDPと寄付に相関関係はなかったんです\
では幸福度はどうでしょう

In [20]:
# 2015年のHappiness Scoreが高い順に10個の国を表示
print("=" * 60)
print("【2015年 Happiness Score TOP10】")
print("=" * 60)
happiness_top10_2015 = df_2015.nlargest(10, 'Happiness Score')[['Country', 'Happiness Score', 'year']]
print(happiness_top10_2015.to_string(index=False))

============================================================
【2015年 Happiness Score TOP10】
============================================================
    Country  Happiness Score  year
Switzerland            7.587  2015
    Iceland            7.561  2015
    Denmark            7.527  2015
     Norway            7.522  2015
     Canada            7.427  2015
    Finland            7.406  2015
Netherlands            7.378  2015
     Sweden            7.364  2015
New Zealand            7.286  2015
  Australia            7.284  2015

これだけではわからないのでまとめてみました

In [21]:
# Economy, Generosity, Happiness Scoreの3つのTOP10に共通して挙がる国を見つける
economy_countries = set(economy_top10_2015['Country'])
generosity_countries = set(generosity_top10_2015['Country'])
happiness_countries = set(happiness_top10_2015['Country'])

# Economy と Generosity の両方に挙がる国
common_economy_generosity = economy_countries & generosity_countries

# Economy と Happiness の両方に挙がる国
common_economy_happiness = economy_countries & happiness_countries

# Generosity と Happiness の両方に挙がる国
common_generosity_happiness = generosity_countries & happiness_countries

# 3つすべてに挙がる国
common_all_three = economy_countries & generosity_countries & happiness_countries

print("=" * 60)
print("【2015年 Economy と Generosity の両方に挙がる国】")
print("=" * 60)
if common_economy_generosity:
    print(f"{', '.join(sorted(common_economy_generosity))}")
else:
    print("共通の国はありません")

print("\n" + "=" * 60)
print("【2015年 Economy と Happiness Score の両方に挙がる国】")
print("=" * 60)
if common_economy_happiness:
    print(f"{', '.join(sorted(common_economy_happiness))}")
else:
    print("共通の国はありません")

print("\n" + "=" * 60)
print("【2015年 Generosity と Happiness Score の両方に挙がる国】")
print("=" * 60)
if common_generosity_happiness:
    print(f"{', '.join(sorted(common_generosity_happiness))}")
else:
    print("共通の国はありません")

print("\n" + "=" * 60)
print("【2015年 Economy, Generosity, Happiness Score の3つすべてに挙がる国】")
print("=" * 60)
if common_all_three:
    print(f"{', '.join(sorted(common_all_three))}")
else:
    print("共通の国はありません")

============================================================
【2015年 Economy と Generosity の両方に挙がる国】
============================================================
共通の国はありません

============================================================
【2015年 Economy と Happiness Score の両方に挙がる国】
============================================================
Norway, Switzerland

============================================================
【2015年 Generosity と Happiness Score の両方に挙がる国】
============================================================
Netherlands, New Zealand

============================================================
【2015年 Economy, Generosity, Happiness Score の3つすべてに挙がる国】
============================================================
共通の国はありません

**結果** Economy と Generosity のにはあまり関係がなく、Economy と Happiness Score、Generosity と Happiness Score　にはすこし関係があるという結果になりました。